body {
  margin: 0;
  padding: 0;
  background-color: #222831;
}

span {
  font-size: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(wave2.png);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff2a2a;
  -webkit-background-clip: text;
  background-size: cover;
  background-position-x: 30%;
  background-position-y: 100%;
  -webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
  animation: myheart 7s infinite;
}

@keyframes myheart {
  50% {
    background-position-x: 100%;
  }
}
